In [1]:
int x = 3;

SyntaxError: invalid syntax (<ipython-input-1-30ddb0128ae5>, line 1)

In [2]:
x = 3

In [3]:
type(x)

int

In [11]:
x,y = 10,11

In [12]:
print(x)

10

In [13]:
y

11

In [14]:
x = 10.81

In [15]:
type(x)

float

# Arithmatic operations

addition
subtraction
multiplication
division
modulus

In [16]:
x,y,z = 10,11,12

x + y

21

In [17]:
x - y

-1

In [18]:
x * y

110

In [19]:
x / y

0.9090909090909091

In [20]:
z % x

2

In [21]:
a = 10.

In [22]:
type(a)

float

# Strings

In [24]:
name = "Murthy"

In [25]:
type(name)

str

In [26]:
len(name)

6

In [27]:
len(x)

TypeError: object of type 'int' has no len()

In [28]:
name

'Murthy'

In [29]:
name[1]

'u'

In [30]:
name[0]

'M'

In [31]:
city = "I like Bangalore"

In [32]:
len(city)

16

In [36]:
city[5]

'e'

In [38]:
city[2:10:2]

'lk a'

In [39]:
city[::-1]

'erolagnaB ekil I'

In [40]:
str1 ="Bangalore"
str2= " a big metro city"

In [41]:
str1 + str2

'Bangalore a big metro city'

In [42]:
x

10

In [44]:
str1 + "x"

'Bangalorex'

In [45]:
str1+"10"

'Bangalore10'

In [46]:
a = "10"
type(a)

str

In [47]:
x

10

In [48]:
x + int(a)

20

In [49]:
"Newyork" + str1

'NewyorkBangalore'

In [50]:
str1.upper()

'BANGALORE'

In [51]:
str1.lower()

'bangalore'

In [56]:
x ="*"

In [57]:
x * 50

'**************************************************'

# LIST