# Lists

In [1]:
list1=[1,2,3,4,5]

In [2]:
type(list1)

list

In [4]:
list2=["Bangalore","New Delhi","Vizag"]

In [5]:
list3=[1,2,3,"abcd"]

In [6]:
list1[0]

1

In [7]:
len(list1)

5

In [8]:
list1+list2

[1, 2, 3, 4, 5, 'Bangalore', 'New Delhi', 'Vizag']

In [12]:
list1[2:16]

[3, 4, 5]

In [10]:
list1

[1, 2, 3, 4, 5]

In [13]:
list1[-1]

5

In [14]:
list1 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [15]:
"abcd" * 2

'abcdabcd'

In [16]:
list1

[1, 2, 3, 4, 5]

In [17]:
list1.append(6)

In [18]:
list1

[1, 2, 3, 4, 5, 6]

In [19]:
list1.insert(3,8)

In [20]:
list1

[1, 2, 3, 8, 4, 5, 6]

In [21]:
list1.pop(3)

8

In [22]:
list1

[1, 2, 3, 4, 5, 6]

In [23]:
list4=[1,2,3,[4,5,6]]
list4

[1, 2, 3, [4, 5, 6]]

In [24]:
list4[3]

[4, 5, 6]

In [26]:
list4[3][1]

5

In [27]:
list4.append(4,5,6,7)

TypeError: append() takes exactly one argument (4 given)

In [28]:
type(list1)

list

In [29]:
list1=[1,2,2,2,1,3,4]
list1

[1, 2, 2, 2, 1, 3, 4]

In [30]:
# create a list [1,2,3,4,[5,6,7]] and add an element 9 after the value 5

# Set

In [31]:
set1={1,2,3,4}

In [32]:
type(set1)

set

In [33]:
len(set1)

4

In [34]:
set2={1,2,3,4,4,5,6}

In [35]:
len(set2)

6

In [36]:
list1

[1, 2, 2, 2, 1, 3, 4]

In [37]:
set(list1)

{1, 2, 3, 4}

In [40]:
set1={1,2,3,7,8,9}
set1

{1, 2, 3, 7, 8, 9}

In [39]:
set2

{1, 2, 3, 4, 5, 6}

In [41]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
set1.intersection(set2)

{1, 2, 3}

In [43]:
set2.union(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
set2.intersection(set1)

{1, 2, 3}

In [45]:
set1-set2

{7, 8, 9}

In [46]:
set2-set1

{4, 5, 6}

In [47]:
set1[0]

TypeError: 'set' object is not subscriptable

In [52]:
set1.add(10)

In [53]:
set1

{1, 2, 3, 7, 8, 9, 10}

In [54]:
list1=list(set1)

In [55]:
list1

[1, 2, 3, 7, 8, 9, 10]

In [56]:
range(10)

range(0, 10)

In [60]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

# Tuple

In [61]:
list1=[1,2,3,3,4]
list1

[1, 2, 3, 3, 4]

In [62]:
tup1=(1,2,3,3,4)
type(tup1)

tuple

In [63]:
len(tup1)

5

In [64]:
tup1

(1, 2, 3, 3, 4)

In [67]:
tup1.add(3,6)

AttributeError: 'tuple' object has no attribute 'add'

In [68]:
tup1[0]

1

# if condition

In [81]:
x=11
y=12

In [80]:
if (x == 10):
    print("x is equal to 10")
else:
    print("x is not equal to 10")

x is not equal to 10

In [83]:
x=10
y=10

if (x == y):
    print("x is equal to y")
    z = x+y
    if (z%2 == 0):
        print("z is an even number")
    else:
        print("z is an odd number")
elif (x > y):
    print(" x is greater than y")
else:
    print("x is less than y")

x is equal to y
z is an even number