## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [ ]:
a = bool( 6 >7)
a

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
my_str='Murthy123'

In [ ]:
my_str.istitle()

In [ ]:
print(my_str.isalnum()) #check if all char are characters and numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('M')) #test if string startswith H

### Boolean and Logical Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False or False

In [ ]:
True or True

In [ ]:
str_example='Hello World'
my_str='Venkata'

In [ ]:
my_str.isalpha() and str_example.isnumeric()

In [ ]:
my_str.isalpha() or str_example.isnumeric()

In [ ]:
str_example.isalpha()

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

In [ ]:
list1 = []

In [ ]:
type(list1)

In [ ]:
list1

In [ ]:
lst=list("Bangalore")

In [ ]:
type(lst)

In [ ]:
lst

In [ ]:
lst=['Physics', 'Maths','chemistry','Computers', 100, 200, 300, 204]
lst

In [ ]:
len(lst)

In [ ]:
type(lst)

In [ ]:
lst[-1]

In [ ]:
lst[3:]

In [ ]:
lst[2:5]

In [ ]:
lst[-1]

In [ ]:
lst = [100,200,[300,400,500,600]]
lst

In [ ]:
lst[2][1]

In [ ]:
lst[3]

In [ ]:
lst

### Append

In [ ]:
#.append is used to add elements in the list
print(lst)
lst.append("Venkat")

In [ ]:
lst

In [ ]:
lst[3]

In [ ]:
lst.append(["Jimmy","John"])

In [ ]:
lst

In [ ]:
lst.append(100)

In [ ]:
lst

In [ ]:
##Indexing in List
lst[4]

In [ ]:
len(lst[1:3])

In [ ]:
lst[2]

In [ ]:
l1,l2 = [10,20,30,40],[40,50,60,70]

In [ ]:
print(l1)
print(l2)

In [ ]:
l1 + l2

In [ ]:
lst =l1+l2

In [ ]:
lst

### Insert

In [ ]:
## insert in a specific order
print(lst)
lst.insert(2,"Murthy")
lst

In [ ]:
lst

In [ ]:
lst.append(["Hello","World"])

In [ ]:
lst

In [ ]:
lst=[1,2,3]

In [ ]:
lst.append([4,5])

In [ ]:
lst

### Extend Method

In [ ]:
lst=[1,2,3]
lst

In [ ]:
lst.extend([4,5,6,7])
lst

In [ ]:
lst.append([9,10])
lst

In [ ]:
str1 = 'e  '
str1*5

In [ ]:
l1 = [1,2,3]
l1 * 5

### Various Operations that we can perform in List

In [ ]:
lst=[1,2,3,4,5,'A']
lst

In [ ]:
sum(lst)

In [ ]:
lst*5

### Pop() Method

In [ ]:
lst =[-1,0,1,2,3,4,5,6,7]

lst

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(4)

In [ ]:
lst

### count():Calculates total occurrence of given element of List

In [ ]:
lst=[1,1,1,1,1,2,3,4,5,1,1,1,4]
lst.count(1)

In [ ]:
#length:Calculates total length of List
len(lst)

In [ ]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(4)

In [ ]:
lst.count(4)

In [ ]:
lst[4]

In [ ]:
len(lst)

In [ ]:
lst

In [ ]:

indices = []
for i in range(len(lst)): #Loop over indices of elements in `a_list`
   if lst[i] == 4:
      indices.append(i)
print(indices)

In [ ]:
def multi_indices(lst,item):
    indices = []
    for i in range(len(lst)): #Loop over indices of elements in `a_list`
       if lst[i] == item:
          indices.append(i)
    print(indices)

In [ ]:
a_list = [1, 2, 3, 1,3,2,2,3,4]
multi_indices(a_list,2)

In [ ]:
lst=[1,2,3,'A']

In [ ]:
lst.

In [ ]:
##Min and Max
min(lst)

In [ ]:
max(lst)

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
## Defining an empy set

set_var= set()
print(set_var)
type(set_var)

In [ ]:
lst1 = [1,2,3,4,3,3,3,3,3]
lst1

In [ ]:
set(lst1)

In [ ]:
set_var={1,2,3,4,3,3,3,3,3}

In [ ]:
type(set_var)

In [ ]:
set_var

In [ ]:
len(set_var)

In [ ]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

In [ ]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
print(set_var)

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7}

In [ ]:
A.intersection(B)

In [ ]:
##Difference  :: set2 - set1
A.difference(B)

In [ ]:
B.difference(A)

In [ ]:
## Difference update :: set2 := set2 - set1

A.difference_update(B)

In [ ]:
A

In [ ]:
lst=[1,2,2,3,4,'bangalore']
set(lst)

In [ ]:
list(set(lst))

In [ ]:
type(list(set(lst)))

In [ ]:
tp1 = (1,2,3)

In [ ]:
type(tp1)

# If conditions and for loops

In [ ]:
x =10
y =11

if x==y:
    print("X and Y are equal")
    print("The value of x = ",x)
elif x>y:
    print("X is greater than y")
else:
    print(" X is less than  y")

In [ ]:
x,y=10,10
if x==y:
print("X and Y are equal")

In [ ]:
## If conditions  and for loops

lst=[1,2,3,4,5,6]

even_sum=0
odd_sum=0

for i in range(len(lst)):
    j = lst[i]
    if j%2==0:
        even_sum=even_sum+j
    else:
        odd_sum=odd_sum+j
print(" The even value sum = {}, the odd value sum = {}".format(even_sum,odd_sum))

# Functions

In [ ]:
def add(num1,num2=8):
    return num1+num2

In [ ]:
add(7)

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [1]:
dict1={1,2,3}
type(dict1)

set

In [2]:
## Let create a dictionary

my_dict={"Car1": "Audi" ,  "Car2":"BMW" ,   "Car3":"Mercidies Benz", 1:12 }
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 1: 12}

In [3]:
print(my_dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 1: 12}

In [4]:
type(my_dict)

dict

In [6]:
##Access the item values based on keys

my_dict['Audi']

KeyError: 'Audi'

In [7]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3
1

In [16]:
for x,y in my_dict.items():
    print(x, 'corresponds to',y)

Car1 corresponds to Audi
Car2 corresponds to BMW
Car3 corresponds to Mercidies Benz
1 corresponds to 12

In [17]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz
12

In [18]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 1: 12}

In [19]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [20]:
my_dict

{'Car1': 'Audi',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 1: 12,
 'car4': 'Audi 2.0'}

In [25]:
my_dict['car4']='abcd'

In [26]:
my_dict

{'Car1': 'Audi',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 1: 12,
 'car4': 'abcd',
 'car5': 'Maruti122'}

In [30]:
set2={1,2}
set1={1,2,3,4,set2}
set1

TypeError: unhashable type: 'set'

### Nested Dictionary

In [27]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [28]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [31]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [32]:
print(car_type['car1']['Mercedes'])

1960

In [34]:
dict1

{1, 2, 3}

In [35]:
#Assignment : using for loop extract key values from the nested dictionary
for k,v in car_type.items():
    for x,y in v.items():
        print(y)

1960
1970
1980

## Tuples

In [ ]:
## create an empty Tuples
my_tuple=tuple()

In [ ]:
type(my_tuple)

In [ ]:
my_tuple=()

In [ ]:
type(my_tuple)

In [ ]:
my_tuple=("Bangalore","Hyderabad","Vizag","Bangalore")
my_set ={"Bangalore","Hyderabad","Vizag","Bangalore"}
my_list=["Bangalore","Hyderabad","Vizag","Bangalore"]
print(type(my_set))
print(type(my_tuple))
print(type(my_list))

In [ ]:
print(my_tuple)
print(my_set)
print(my_list)

In [ ]:
my_list.append("New Delhi")
my_list

In [ ]:
my_tuple

In [ ]:
my_set

In [ ]:
my_tuple=(1,2,1,3,1)

In [ ]:
my_tuple.count(1)

In [ ]:
tup1=tuple(my_set)
tup1

In [ ]:
my_tuple

In [ ]:
## Inbuilt function
my_tuple.count(1)

In [ ]:
print(my_tuple)
my_tuple.index(1)

# special cases

In [ ]:
82/2

In [ ]:
_

In [ ]:
_ + 12

In [ ]:
_

In [ ]:
x = _

In [ ]:
x

In [ ]:
4+5

In [ ]:

while _ <= 20:
    print(_, end = ' ') # default value of 'end' id '\n' in python. we're changing it to space
    _ += 1

In [ ]:
i = 22
while i<20:
    print(i, end =' ')
    i = i+1

In [ ]:
_

In [ ]:
for i in range(5):
    print(i)

In [ ]:
_

In [ ]:
for _ in range(5):
    print(_)

In [ ]:
a,b,c=(1,4,3)
print(a)
print(b)
print(c)

In [ ]:
a=(1,2)
print(type(a))
print(a)

In [ ]:
## ignoring a value
a, _, b = (1,4,3) # a = 1, b = 3
print(a,_, b)

In [ ]:
_

In [ ]:
## ignoring multiple values
## *(variable) used to assign multiple value to a variable as list while unpacking
## it's called "Extended Unpacking", only available in Python 3.x
a, *_, b = (7, 6, 5, 4, 3, 2, 1)
print(a, b)
print(_)
print(type(_))

In [ ]:
True_ =3
True_

# \*args and **kwargs

The special syntax *args in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-keyworded, variable-length argument list<br>
The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list.

In [ ]:
def myFun(*argv):
    for arg in argv:
        print("The optional aruments are ",arg)

In [ ]:
myFun(12,13,14)

In [ ]:
myFun()

In [ ]:
def myFun(arg1,arg2=20,*a): 
    print ("First argument :", arg1) 
    print("Second argument", arg2)
    for arg in a: 
        print("Next argument through *argv :", arg) 
  
myFun(10)

In [ ]:
myFun(10,30,12,121,54)

In [36]:
#A keyword argument is where you provide a name to the variable as you pass it into the function.
def myFun(**kwa):  
    for k, v in kwa.items(): 
        print ("%s == %s" %(k, v)) 
        
  
# Driver code 
myFun(ant = 3, b ='4', c='5')
#mydict={"key1":"12",}

ant == 3
b == 4
c == 5

In [37]:
def myFun(arg1, *argv,**kwargs):
    print(arg1)
    for j in argv:
        print("The value of optional argument: ",j)
    for key, value in kwargs.items(): 
        print ("%s == %s" %(key, value)) 
  
# Driver code 
myFun("Hi", "How"," are", "You" , first ='I', mid ='like', last='Bangalore')

Hi
The value of optional argument:  How
The value of optional argument:   are
The value of optional argument:  You
first == I
mid == like
last == Bangalore

In [ ]:
def myFun(*arg, **kwargs):  
    for key, value in kwargs.items(): 
        print ("%s == %s" %(key, value)) 
  
# Driver code 
myFun("Hi", "Welcome",first ='I', mid ='like', last='Bangalore')

# Classes :  A Class is like an object constructor, or a "blueprint" for creating objects.

In [ ]:
class Person:
    def __init__(self,name,gender,yob): #Dunder functions
        self.name = name
        self.gender = gender
        self.yob = yob
    def age(self,curr_year):
        return curr_year - self.yob

In [ ]:
venkat = Person('Venkata B','Male',1972)

In [ ]:
type(venkat)

In [ ]:
venkat.name,venkat.gender,venkat.yob

In [ ]:
venkat.age(2020)

# Inheritance

In [ ]:
#Inheritance enables us to define a class that takes all the functionality from a parent class and allows us to add more.

class Employee(Person): # Child class of the Person
    def __init__(self,name,gender,yob,department,join_year):
        super().__init__(name,gender,yob)
        self.department = department
        self.join_year = join_year
        self.retire_age=60
    def service_remain(self,curr_year):
        return self.retire_age - super().age(curr_year)

In [ ]:
venkat = Employee('Venkata B','Male',1972,'Technical',2012)

In [ ]:
venkat.age(2020)

In [ ]:
venkat.department

In [ ]:
venkat.service_remain(2020)

# Decorators: Used to temporarily modify the behavior of the function or a class

A decorator is a design pattern in Python that allows a user to add new functionality to an existing object without modifying its structure.

In [ ]:
def uppercase_decorator(function):
    def wrapper():
        func = function()
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper

In [ ]:
def say_hi():
    return 'hello there'

decorate = uppercase_decorator(say_hi)
decorate()

In [ ]:
@uppercase_decorator
def say_hi():
    return 'hello there'

say_hi()

In [ ]:
def split_string(function):
    def wrapper():
        func = function()
        splitted_string = func.split()
        return splitted_string

    return wrapper

In [ ]:
@split_string
@uppercase_decorator
def say_hi():
    return 'hello there'
say_hi()

In [ ]:
def calc_exec_time(func):
    def inner(*args,**kwargs):
        import time
        start = time.time()
        time.sleep(1)
        func(*args,**kwargs)
        end = time.time()
        print("Total time taken =", end-start)
    return inner

In [ ]:
def exp(num):
    import math
    print(math.exp(num))

In [ ]:
exp(5)

In [ ]:
@calc_exec_time
def exp(num):
    import math
    print(math.exp(num))

In [ ]:
exp(5)

In [ ]:
True = 5